<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^index$ index.php?modul=0
RewriteRule ^$ home
RewriteRule ^home$ index.php?modul=0
RewriteRule ^hapus-counter$ index.php?modul=0&aksi=hapus
RewriteRule ^login$ login.php?login=1
RewriteRule ^ubah-password$ login.php?login=2
RewriteRule ^logout$ login.php?login=3
RewriteRule ^lupa-password$ login.php?login=4
RewriteRule ^banner$ index.php?modul=1
RewriteRule ^banner-lihat$ index.php?modul=1&aksi=lihat
RewriteRule ^banner-edit-(.*)$ index.php?modul=1&id=$1&aksi=edit
RewriteRule ^banner-buka-(.*)$ index.php?modul=1&id=$1&aksi=buka
RewriteRule ^banner-tambah$ index.php?modul=1&aksi=tambah
RewriteRule ^banner-hapus-(.*)$ index.php?modul=1&id=$1&aksi=hapus
RewriteRule ^cabang$ index.php?modul=2
RewriteRule ^cabang-lihat$ index.php?modul=2&aksi=lihat
RewriteRule ^cabang-edit-(.*)$ index.php?modul=2&id=$1&aksi=edit
RewriteRule ^cabang-buka-(.*)$ index.php?modul=2&id=$1&aksi=buka
RewriteRule ^cabang-tambah$ index.php?modul=2&aksi=tambah
RewriteRule ^cabang-hapus-(.*)$ index.php?modul=2&id=$1&aksi=hapus
RewriteRule ^fitur$ index.php?modul=12
RewriteRule ^fitur-lihat$ index.php?modul=12
RewriteRule ^fitur-edit-(.*)$ index.php?modul=12&id=$1&aksi=edit
RewriteRule ^fitur-buka-(.*)$ index.php?modul=12&id=$1&aksi=buka
RewriteRule ^fitur-tambah$ index.php?modul=12&aksi=tambah
RewriteRule ^fitur-hapus-(.*)$ index.php?modul=12&id=$1&aksi=hapus
RewriteRule ^produk$ index.php?modul=3
RewriteRule ^produk-lihat$ index.php?modul=3
RewriteRule ^produk-edit-(.*)$ index.php?modul=3&id=$1&aksi=edit
RewriteRule ^produk-buka-(.*)$ index.php?modul=3&id=$1&aksi=buka
RewriteRule ^produk-tambah$ index.php?modul=3&aksi=tambah
RewriteRule ^produk-hapus-(.*)$ index.php?modul=3&id=$1&aksi=hapus
RewriteRule ^sejarah$ index.php?modul=4
RewriteRule ^sejarah-lihat$ index.php?modul=4
RewriteRule ^sejarah-edit-(.*)$ index.php?modul=4&id=$1&aksi=edit
RewriteRule ^sejarah-buka-(.*)$ index.php?modul=4&id=$1&aksi=buka
RewriteRule ^sejarah-tambah$ index.php?modul=4&aksi=tambah
RewriteRule ^sejarah-hapus-(.*)$ index.php?modul=4&id=$1&aksi=hapus
RewriteRule ^artikel$ index.php?modul=7
RewriteRule ^artikel-lihat$ index.php?modul=7
RewriteRule ^artikel-edit-(.*)$ index.php?modul=7&id=$1&aksi=edit
RewriteRule ^artikel-buka-(.*)$ index.php?modul=7&id=$1&aksi=buka
RewriteRule ^artikel-tambah$ index.php?modul=7&aksi=tambah
RewriteRule ^artikel-hapus-(.*)$ index.php?modul=7&id=$1&aksi=hapus
RewriteRule ^galeri$ index.php?modul=8 
RewriteRule ^galeri-lihat$ index.php?modul=8
RewriteRule ^galeri-edit-(.*)$ index.php?modul=8&id=$1&aksi=edit
RewriteRule ^galeri-buka-(.*)$ index.php?modul=8&id=$1&aksi=buka
RewriteRule ^galeri-tambah$ index.php?modul=8&aksi=tambah
RewriteRule ^galeri-hapus-(.*)$ index.php?modul=8&id=$1&aksi=hapus
RewriteRule ^career$ index.php?modul=9
RewriteRule ^career-lihat$ index.php?modul=9
RewriteRule ^career-edit-(.*)$ index.php?modul=9&id=$1&aksi=edit
RewriteRule ^career-buka-(.*)$ index.php?modul=9&id=$1&aksi=buka
RewriteRule ^career-tambah$ index.php?modul=9&aksi=tambah
RewriteRule ^career-hapus-(.*)$ index.php?modul=9&id=$1&aksi=hapus
RewriteRule ^testimoni$ index.php?modul=10
RewriteRule ^testimoni-ubah-(.*)$ index.php?modul=10&id=$1&aksi=update
RewriteRule ^testimoni-hapus-(.*)$ index.php?modul=10&id=$1&aksi=hapus
RewriteRule ^kategori_produk$ index.php?modul=11&kategori=produk
RewriteRule ^kategori_produk-lihat$ index.php?modul=11&kategori=produk
RewriteRule ^kategori_produk-edit-(.*)$ index.php?modul=11&id=$1&aksi=edit&kategori=produk
RewriteRule ^kategori_produk-buka-(.*)$ index.php?modul=11&id=$1&aksi=buka&kategori=produk
RewriteRule ^kategori_produk-tambah$ index.php?modul=11&aksi=tambah&kategori=produk
RewriteRule ^kategori_produk-hapus-(.*)$ index.php?modul=11&id=$1&aksi=hapus&kategori=produk
RewriteRule ^kategori_career$ index.php?modul=11&kategori=career
RewriteRule ^kategori_career-lihat$ index.php?modul=11&kategori=career
RewriteRule ^kategori_career-edit-(.*)$ index.php?modul=11&id=$1&aksi=edit&kategori=career
RewriteRule ^kategori_career-buka-(.*)$ index.php?modul=11&id=$1&aksi=buka&kategori=career
RewriteRule ^kategori_career-tambah$ index.php?modul=11&aksi=tambah&kategori=career
RewriteRule ^kategori_career-hapus-(.*)$ index.php?modul=11&id=$1&aksi=hapus&kategori=career

Options All -Indexes
</IfModule>
